body{background:#f5f7fb;font-family:Inter,sans-serif;}
.sidebar{width:250px;background:#fff;height:100vh;border-right:1px solid #eee;}
.sidebar .nav-link{color:#6b7280;border-radius:8px;margin-bottom:5px;}
.sidebar .nav-link:hover{background:#eef2ff;color:#4f46e5;}
.logo-circle{width:40px;height:40px;border-radius:50%;object-fit:cover;}
.badge-status{padding:5px 10px;border-radius:20px;font-size:12px;}
.status-potential{background:#fff7ed;color:#f97316;}
.status-confirmed{background:#ecfdf5;color:#10b981;}
.status-reward{background:#eff6ff;color:#3b82f6;}
.table-custom{
    background:#fff;
    border-radius:12px;
    overflow:visible; /* ganti ini */
}
